/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

@keyframes moving {

	from {
		left: calc((0.875rem) * (-1));
	}

	to {
		left: calc((0.875rem + 4px) * (-1));
	}
}

.core {
	transition: fill 0.3s 0.5s ease-in-out;
}

.main-body {
	transition: fill 0.3s 0s ease-in-out;
}

.card__icon-button:hover .core {
	fill: var(--heart-contour-color, rgb(0 0 0 / 1));
	transition-delay: 0s;
}

.card__icon-button:hover .main-body {
	transition-delay: 0.5s;
	fill: var(--heart-contour-color, rgb(0 0 0 / 1));
}

.card__icon-button:active .core {
	fill: var(--heart-sparks-color, rgb(255 0 0 / 1));
	transition-delay: 0s;
}

.card__icon-button:active .main-body {
	transition-delay: 0.5s;
	fill: var(--heart-sparks-color, rgb(255 0 0 / 1));
}

.like-icon.is-liked .core {
	transition-delay: 0s;
	fill: var(--heart-sparks-color, rgb(255 0 0 / 1));
}

.like-icon.is-liked .main-body {
	transition-delay: 0.5s;
	fill: var(--heart-sparks-color, rgb(255 0 0 / 1));
}

.contour {
	transition-delay: 0.56s;
}

.like-icon.is-liked .contour {
	transition-delay: 0.6s;
	fill: var(--heart-sparks-color, rgb(255 0 0 / 1));
}

.like-icon.is-liked .heart {
	animation: liked 0.3s 0.1s ease-in;
}

@keyframes liked {

	0% {
		transform:scale(1) translate(0);
		
	}

	50% {
		transform:scale(1.5) 
	}
	
	100% {
		transform:scale(1) translate(0);
	}
}

.sparks {
	fill: var(--heart-sparks-color);
	opacity: 0;
}

.like-icon.is-liked .sparks {
	animation: sparks 0.3s 0.3s ease-in;
}

@keyframes sparks {

	0% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}
	
	100% {
		opacity: 0;
	}
}