/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  max-inline-size: 1440px;
  font-family: var(--font, "Inter-Variable", sans-serif);
  font-variation-settings: "wght" var(--font-weight, 400);
  background-color: var(--bg-color, #FFF);
  color: var(--main-color,#000);
  margin: 0 auto;
  /* background-image: repeating-linear-gradient(to top,rgb(211 211 211 / 0) 0, 
  rgb(211 211 211) 1px,
  rgb(211 211 211) 2px,
  rgb(211 211 211 / 0) 3px,
  rgb(211 211 211 / 0) 4px),  
  repeating-linear-gradient(to right, rgb(211 211 211 / 0) 0,
  rgb(211 211 211) 1px,
  rgb(211 211 211) 2px,
  rgb(211 211 211 / 0) 3px,
  rgb(211 211 211 / 0) 4px), 
  linear-gradient(#E7E7E7 0.01%, #1A1A1A); */
  background-image: var(--theme-background-image);
  background-attachment: fixed;
	background-position: center; 
	background-size: cover;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-start: 6.25rem;
  font-family: var(--font-accent, "PressStart2P-Regular", sans-serif);
  gap: 1.5625rem;
  background-color: var(--bg-color, #FFF);
  max-inline-size: 696px;
  max-block-size: 364px;
  margin: 0 auto;
  border: 2px solid var(--main-color, #000);
  margin-block-start: 102px;
  margin-block-end: 104px;
  
}

.header__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  text-transform: uppercase;
  margin-block-start: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);

}

.theme-menu {
  margin-block-end: 1.5625rem;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.875rem;
}

.header-title__logo {
  font-size: var(--header-logo-font-size, clamp(3.0625rem, 4.6859rem + -6.9264vw, 4.0625rem));
}

.header-title__text {
  font-size: var(--header-txt-font-size, clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem));
}

.theme-menu__item {
  position: relative;
}

.theme-menu__button {
  text-transform: uppercase;
  font-size: 0.875rem;
  background-color: transparent;
  border: none;
}

.theme-menu__button:disabled::before {
  content:"▶";
  width: 1rem;
  position: absolute;
  left: calc((0.875rem + 4px)*(-1));
}


.cards {
  margin: 0 auto;
  max-inline-size: 696px;
}

.floppy_icon {
  width:22px
}
/*.floppy_icon-use {
  width: 100%;
} */

.card-pic {
  display: block;
  width:200px;
  height: 200px;
}

@media (width <= 375px) {}


