/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  max-inline-size: 1440px;
  font-family: "Inter-Variable", sans-serif;
  font-variation-settings: "wght" var(--font-weight, 400);
  background-color: var(--bg-color, #FFF);
  color: var(--main-color,#000);
  margin: 0 auto;
  background-image: repeating-linear-gradient(90deg,
  var(--repeat-gradient-from-color, rgb(211 211 211 / 0)) 0,
  var(--repeat-gradient-to-color, rgb(211 211 211)) 1px,
  var(--repeat-gradient-to-color, rgb(211 211 211)) 2px,
  var(--repeat-gradient-from-color, rgb(211 211 211 / 0)) 3px,
  var(--repeat-gradient-from-color, rgb(211 211 211 / 0)) 4px),  
  repeating-linear-gradient(180deg,
  var(--repeat-gradient-from-color, rgb(211 211 211 / 0)) 0,
  var(--repeat-gradient-to-color, rgb(211 211 211)) 1px,
  var(--repeat-gradient-to-color, rgb(211 211 211)) 2px,
  var(--repeat-gradient-from-color, rgb(211 211 211 / 0)) 3px,
  var(--repeat-gradient-from-color, rgb(211 211 211 / 0)) 4px), linear-gradient(var(--liner-gradient-from-color, #E7E7E7), var(--liner-gradient-to-color, #1A1A1A));
  background-size: cover;
}

