/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

.page {
	min-inline-size: 320px;
	min-block-size: 100dvb;
	max-inline-size: 1440px;
	font-family: var(--font, "Inter-Variable", sans-serif);
	font-variation-settings: "wght" var(--font-weight, 400);
	background-color: var(--bg-color, #fff);
	color: var(--main-color, #000);
	margin: 0 auto;
	background-image: var(--theme-background-image);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: var(--font-accent, "PressStart2P-Regular", sans-serif);
	gap: 24px;
	background-color: var(--bg-color, #fff);
	max-inline-size: 700px;
    max-block-size: 368px;
	min-inline-size: 375px;
	margin: 0 auto;
	border: 2px solid var(--main-color, #000);
	margin-block-start: 100px;
	margin-block-end: 100px;
}

.header-title {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.25rem;
	text-transform: uppercase;
	margin-block-start: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem); /*133*/
}

.theme-menu {
	margin-block-end: 1.5625rem;
	margin-inline-start: 18px;
}

.theme-menu__list {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 12px;
}

.header-title__logo {
	font-size: var(
		--header-logo-font-size,
		clamp(3.0625rem, 2.710387323943662rem + 1.5023474178403755vw, 4.0625rem)
	);
}

.header-title__logo:focus, 
.header-title__logo:focus-visible {
	outline: none;
}

.header-title__text {
	font-size: var(
		--header-txt-font-size,
		clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem)
	);
}

.theme-menu__item {
	position: relative;
}

.theme-menu__button {
	text-transform: uppercase;
	font-size: 0.875rem;
	background-color: transparent;
	border: none;
}

.theme-menu__button:disabled::before {
	content: "▶";
	width: 1rem;
	position: absolute;
	left: calc((0.875rem) * (-1));
	animation: moving 0.5s infinite ease-in-out alternate;
}

.theme-menu__button:focus {
	outline: none;
}

.theme-menu__button:disabled {
	opacity: 0.6;
	pointer-events: none;
}

.theme-menu__button:enabled {
	transition: color 0.3s ease;
}

.theme-menu__button:enabled:focus-visible {
	outline: none;
	opacity: 0.6;
}

.theme-menu__button:disabled:focus-visible {
	outline: none;
}

.theme-menu__button:enabled::after {
	content: "";
	display: block;
	width: 0%;
	height: 3px;
	margin-block-end: -5px;
	background-color: var(--main-color, #000);
	transition: width 0.3s ease;
	opacity: 0.6;
}

.theme-menu__button:enabled:hover {
	cursor: pointer;
	opacity: 0.6;
}

.theme-menu__button:enabled:focus-visible::after {
	width: 100%;
}

.cards {
	margin: 0 auto;
	max-inline-size: 700px;
	/* min-block-size: 959px; */
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 49.5px;
	margin-block-end: 105px;
}

.card {
	width: 100%;
	/* max-inline-size: 696px; */
	/* min-block-size: 959px; */
	/* margin-block-end: 54px; */
	border: 2px solid var(--main-color, #000);
	background-color: var(--bg-color, #fff);
	display: grid;
    grid-template-rows: min-content min-content min-content min-content;
}

.card__title {
	font-family: var(--font);
	font-size: 18px;
	font-weight: var(--title-font-weight, 700);
	margin-inline-start: 10px;
    letter-spacing: 0.3px;
	line-height: 1.8em;
}

.card__img-box {
	position: relative;
	border-top: 2px solid var(--main-color, #000);
	border-bottom: 2px solid var(--main-color, #000);
	max-height: 700px;
}

.card__img-lbl {
	position: absolute;
	font-family: var(--font-accent, "PressStart2P-Regular", sans-serif);
	font-size: 14px;
	text-transform: uppercase;
	z-index: 1;
	top: 25px;
	right: clamp(0.6875rem, 0.3794rem + 1.3146vw, 1.5625rem);
	opacity: 0.5;
	mix-blend-mode: hard-light;
	color: var(--main-color, #000);
	font-weight: var(--font-weight, 400);
}

.card-type-lowercase-lbl .card__img-lbl {
	text-transform: lowercase;
}

.filter-img-2 {
	filter: grayscale(60%);
}

.filter-img-3 {
	filter: brightness(150%) contrast(200%);
}

.filter-img-4 {
	filter: hue-rotate(30deg) brightness(100%) contrast(100%);
}

.filter-img-5 {
	filter: invert(75%);
}

.filter-img-6 {
	filter: sepia(80%) brightness(100%) contrast(100%);
}

.filter-img-7 {
	filter: blur(3px);
}

.filter-img-8 {
	filter:hue-rotate(90deg) blur(3px) brightness(100%) contrast(60%);
}

@supports (
	(text-stroke: 1px var(--bg-color, #fff)) or
		(-webkit-text-stroke: 1px var(--bg-color, #fff))
) {

	.card__img-lbl {
		-webkit-text-stroke: 1px var(--bg-color, #fff);
		text-stroke: 1px var(--bg-color, #fff);
		text-shadow: none;
	}
}

.card__img {
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 100%;
}

.card__button {
	background-color: var(--bg-color, #fff);
	font-family: var(--font-accent, "PressStart2P-Regular", sans-serif);
	text-transform: capitalize;
	font-size: 0.875rem;
	color: inherit;
	border: none;
}

.card__text {
	margin: 25px;
	font-family: var(--font);
	font-size: 18px;
}

.card__text p:not(:last-child) {
	margin-block-end: 27px;
}

.card__button-box {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	gap: 8px;
	padding-block-end: 26px;
	margin-inline-end: 27px;
}

.card__icon-button {
	height: 36px;
	width: 39px;
	transition: outline 0.3s ease;
	padding: 0;
}

.card__icon-button:focus {
	outline: 0;
}

.card__icon-button:focus-visible {
	outline: 2px solid var(--main-color, #000);
}

.card__like-button {
	outline: 2px solid var(--main-color, #000);
	width: 126px;
	height: 34px;
	padding: 9px 17px;
	transition: box-shadow 0.3s ease;
	position: relative;
	overflow: hidden;
}

.cards__save-button {
	width: 337px;
	height: 52px;
	outline: 2px solid var(--main-color, #000);
	background-color: var(--bg-color, #fff);
	font-family: var(--font-accent, "PressStart2P-Regular", sans-serif);
	font-size: 0.875rem;
	color: inherit;
	border: none;
	transition: box-shadow 0.3s ease;
	position: relative;
	overflow: hidden;
	font-weight: 400;
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
	margin-block-start: 2px;
}

.card__like-button:focus-visible,
.cards__save-button:focus-visible {
	box-shadow: 2px 2px 0 2px var(--main-color, #000);
}

.card__like-button:hover,
.cards__save-button:hover {
	cursor: pointer;
}

.button__text {
	color: var(--btn-txt-color, #fff);
	position: relative;
	z-index: 2;
	mix-blend-mode: difference;
}

.card__like-button::after,
.cards__save-button::after {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	background-color: var(--main-color, #000);
	transition: transform 0.5s ease-in-out;
	position: absolute;
	top: 0%;
	left: 0%;
	transform: translateX(-100%);
}

.card__like-button:hover::after,
.cards__save-button:hover::after {
	z-index: 1;
	transform: translateX(0%);
}

.like-icon {
	width: calc(39px * 1.5);
	height: calc(36px * 1.5);
}

.save-button__icon {
	width: 21px;
	color: var(--btn-txt-color, #fff);
	position: relative;
	z-index: 2;
	mix-blend-mode: difference;
}

.save-button__text {
	color: var(--btn-txt-color, #fff);
	position: relative;
	z-index: 2;
	mix-blend-mode: difference;
}

dialog::backdrop {
	background-color: #000;
	opacity: 0.75;
}

.dialog {
	border: 2px solid var(--main-color, #000);
	background-color: var(--bg-color, #fff);
	min-height: 193px;
	width: clamp(21.3125rem, 20.9604rem + 1.5023vw, 22.3125rem);
	padding: 0;
}

.dialog[open] {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 30px;
}

.dialog-button {
	height: 38px;
	padding: 9px 17px;
	text-transform: uppercase;
	background-color: var(--bg-color, #fff);
	font-size: 14px;
	color: inherit;
	border: none;
	font-family: var(--font-accent, "PressStart2P-Regular", sans-serif);
	transition: box-shadow 0.3s ease;
	position: relative;
	overflow: hidden;
	font-weight: 400;
	outline: 2px solid var(--main-color, #000);
	width: clamp(16.0625rem, 15.2702rem + 3.3803vw, 18.3125rem);
}

.dialog-button:focus-visible {
	box-shadow: 2px 2px 0 2px var(--main-color, #000);
}

.dialog-button:hover {
	cursor: pointer;
}

.dialog-button::after {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	background-color: var(--main-color, #000);
	transition: transform 0.5s ease-in-out;
	position: absolute;
	top: 0%;
	left: 0%;
	transform: translateX(-100%);
}

.dialog-button:hover::after {
	z-index: 1;
	transform: translateX(0%);
}

.dialog__icon {
	width: 39px;
	height: 39px;
	fill: var(--main-color, #000);
}

.dialog__icon use {
	width: 39px;
	height: 39px;
}

.dialog-header {
	font-family: var(--font-accent, "PressStart2P-Regular", sans-serif);
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	color: var(--main-color, #000);
	display: grid;
	grid-template-columns: max-content 1fr;
	gap: 20px;
	margin: 31.5px 31.5px 0;
	line-height: 21px;
}

.dialog-form {
	margin-block-end: 31.5px;
}

.card__icon-button:hover {
	cursor: pointer;
}

/* .use-svg {
	width: 39px;
	height: 39px;
} */

@media (width <= 375.2px) { /*на 375px брейкпоинт не работает (в хроме)*/

	.theme-menu {
		margin-inline-start: 22px;
	}

	.header {
		margin-block-end: 100px;
		max-inline-size: 371px;
		max-block-size: 327px;
		gap: 23px;
	}

	
	.card__text {
		margin: 26.1px;
		letter-spacing: -0.03px;
	}

	.card__title {
		line-height: 1.75em;
		letter-spacing: 0.2px;
	}

	.card:first-child .card__title {
		line-height: 1.27em;
		max-inline-size: 351px;
		margin-block-start: 5px;
		padding-block-end: 2px;
	}
/* 
	.card:last-child .card__text {
		margin: 27px;
	} */

	/* .card {
		min-block-size: 329px;
	} */

	.card__img-box {
		max-height: 374px;
	}

	.card__img-lbl {
		top: 23px;
	}

	.card__button-box {
		padding-block-end: 27px;
	}

	.cards__save-button {
		width: 306px;
		height: 80px;
		flex-direction: column;
		gap: 10px;
		justify-content: center;
	}

	.card__img {
		max-height: 371px;
	}

	.card__text p:not(:last-child) {
		line-height: 1.16em;
	}

	.save-button__icon {
		width: 28px;
	}

	.card__like-button {
		height: 34px;
	}

}