/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  max-inline-size: 1440px;
  font-family: var(--font, "Inter-Variable", sans-serif);
  font-variation-settings: "wght" var(--font-weight, 400);
  background-color: var(--bg-color, #FFF);
  color: var(--main-color,#000);
  margin: 0 auto;
  background-image: var(--theme-background-image);
  background-attachment: fixed;
	background-position: center; 
	background-size: cover;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-accent, "PressStart2P-Regular", sans-serif);
  gap: 1.5625rem;
  background-color: var(--bg-color, #FFF);
  max-inline-size: 696px;
  max-block-size: 364px;
  margin: 0 auto;
  border: 2px solid var(--main-color, #000);
  margin-block-start: 102px;
  margin-block-end: 104px;
  
}

.header__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  text-transform: uppercase;
  margin-block-start: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);

}

.theme-menu {
  margin-block-end: 1.5625rem;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.875rem;
}

.header-title__logo {
  font-size: var(--header-logo-font-size, clamp(3.0625rem, 4.6859rem + -6.9264vw, 4.0625rem));
}

.header-title__text {
  font-size: var(--header-txt-font-size, clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem));
}

.theme-menu__item {
  position: relative;
}

.theme-menu__button {
  text-transform: uppercase;
  font-size: 0.875rem;
  background-color: transparent;
  border: none;
}

.theme-menu__button:disabled::before {
  content:"▶";
  width: 1rem;
  position: absolute;
  left: calc((0.875rem + 4px)*(-1));
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:enabled:hover {
  cursor: pointer;
  opacity: 0.6;
}

.cards {
  margin: 0 auto;
  max-inline-size: 696px;
  /* min-block-size: 959px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 54px;
  margin-block-end: 105px;
}

.card {
  width: 100%;
  /* max-inline-size: 696px; */
  min-block-size: 959px;
  /* margin-block-end: 54px; */
  outline: 2px solid var(--main-color, #000);
  background-color: var(--bg-color, #FFF);
} 

.card__title {
  font-family: var(--font);
  font-size: 18px;
}

.card__img {
  background-position: center;
	background-size: contain;
	width: 100%;
  height: 100%;
  border-top: 2px solid var(--main-color, #000);
  border-bottom: 2px solid var(--main-color, #000);
}

.card__button {
  background-color: var(--bg-color, #FFF);
  font-family: var(--font-accent, "PressStart2P-Regular", sans-serif);
  text-transform: capitalize;
  font-size: 0.875rem;
  color: inherit;
  border:none;
}

.card__text {
  margin: 25px;
  font-family: var(--font);
  font-size: 18px;
}

.card__text p:not(:last-child) {
  margin-block-end: 27px;
}

/* .cards .card:not(:last-child) {
  margin-block-end: 54px;
}

.cards .card:last-child {
  margin-block-end: 27px;
} */

.card__button-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 22px;
  padding-block-end: 25px;
  margin-inline-end: 25px;
}

.card__icon-button {
  height: 38px;
  width: 27px;
}

.card__like-button {
  outline: 2px solid var(--main-color, #000);
  width: 130px;
  height: 38px;
  padding: 9px 17px;
}

.like-icon {
  width: 36px;
}

.cards__save-button {
  width: 335px;
  height: 51px;
  outline: 2px solid var(--main-color, #000);
  background-color: var(--bg-color, #FFF);
  font-family: var(--font-accent, "PressStart2P-Regular", sans-serif);
  font-size: 0.875rem;
  color: inherit;
  border:none;
  /* align-self: center; */
}

.save-button__icon {
  width: 21px;
}

/* .floppy_icon {
  width:22px
}
/*.floppy_icon-use {
  width: 100%;
}

.card-pic {
  display: block;
  width:200px;
  height: 200px;
} */

@media (width <= 375px) {}


