/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
    --font: "Inter-Variable";
    --font-accent: "PressStart2P-Regular";
    --header-font-weight: 400;
    --repeat-gradient-from-color:rgb(211 211 211 / 0);
    --header-logo-font-size: clamp(3.0625rem, 2.6224rem + 1.8779vw, 4.3125rem);
    --header-txt-font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
    --theme-background-image:  repeating-linear-gradient(to top,rgb(211 211 211 / 0) 0, 
    rgb(211 211 211) 1px,
    rgb(211 211 211) 2px,
    rgb(211 211 211 / 0) 3px,
    rgb(211 211 211 / 0) 4px),  
    repeating-linear-gradient(to right, rgb(211 211 211 / 0) 0,
    rgb(211 211 211) 1px,
    rgb(211 211 211) 2px,
    rgb(211 211 211 / 0) 3px,
    rgb(211 211 211 / 0) 4px), 
    linear-gradient(#E7E7E7 0.01%, #1A1A1A);
    --btn-txt-color: #FFF;
    --heart-contour-color:rgb(0 0 0 / 1);
    --heart-core-color:rgb(255 255 255);
    --heart-main-body-color:rgb(255 0 0);
    --heart-sparks-color:rgb(255 0 0);
    
}

:root.theme-light {
    --bg-color: #FFF;
    --main-color:#000;
    --font-weight: 400;
    --title-font-weight: 700;
    --liner-gradient-from-color:#E7E7E7;
    --liner-gradient-to-color:#1A1A1A;
    --repeat-gradient-to-color:rgb(211 211 211);
    --theme-background-image:  repeating-linear-gradient(to top,rgb(211 211 211 / 0) 0, 
    rgb(211 211 211) 1px,
    rgb(211 211 211) 2px,
    rgb(211 211 211 / 0) 3px,
    rgb(211 211 211 / 0) 4px),  
    repeating-linear-gradient(to right, rgb(211 211 211 / 0) 0,
    rgb(211 211 211) 1px,
    rgb(211 211 211) 2px,
    rgb(211 211 211 / 0) 3px,
    rgb(211 211 211 / 0) 4px), 
    linear-gradient(#E7E7E7 0.01%, #1A1A1A);
    --btn-txt-color: #FFF;
    --heart-contour-color:rgb(0 0 0 / 1);
    --heart-sparks-color:rgb(255 0 0 / 1);
    --heart-main-body-color:rgb(255 0 0);
}

:root.theme-dark {
    --bg-color: #000;
    --main-color: #00CC14;
    --font-weight:465;
    --title-font-weight: 785;
    --liner-gradient-from-color:#007f0c;
    --liner-gradient-to-color:#004306;
    --repeat-gradient-to-color:rgb(0 0 0);
    --theme-background-image:  repeating-linear-gradient(to top,rgb(211 211 211 / 0) 0, 
    rgb(0 0 0) 1px,
    rgb(0 0 0) 2px,
    rgb(211 211 211 / 0) 3px,
    rgb(211 211 211 / 0) 4px),  
    repeating-linear-gradient(to right, rgb(211 211 211 / 0) 0,
    rgb(0 0 0) 1px,
    rgb(0 0 0) 2px,
    rgb(211 211 211 / 0) 3px,
    rgb(211 211 211 / 0) 4px), 
    linear-gradient(#007f0c, #004306);
    --btn-txt-color:#00CC14;
    --heart-contour-color:rgb(0 204 20 / 1);
    --heart-sparks-color:rgb(255 0 0 / 1);
    --heart-main-body-color:rgb(255 0 0);
}

@media (prefers-color-scheme: light) {

	:root {
    --bg-color: #FFF;
    --main-color:#000;
    --font-weight: 400;
    --title-font-weight: 700;
    --liner-gradient-from-color:#E7E7E7;
    --liner-gradient-to-color:#1A1A1A;
    --repeat-gradient-to-color:rgb(211 211 211);
    --theme-background-image:  repeating-linear-gradient(to top,rgb(211 211 211 / 0) 0, 
    rgb(211 211 211) 1px,
    rgb(211 211 211) 2px,
    rgb(211 211 211 / 0) 3px,
    rgb(211 211 211 / 0) 4px),  
    repeating-linear-gradient(to right, rgb(211 211 211 / 0) 0,
    rgb(211 211 211) 1px,
    rgb(211 211 211) 2px,
    rgb(211 211 211 / 0) 3px,
    rgb(211 211 211 / 0) 4px), 
    linear-gradient(#E7E7E7 0.01%, #1A1A1A);
    --btn-txt-color: #FFF;
    --heart-contour-color:rgb(0 0 0 / 1);
    --heart-sparks-color:rgb(255 0 0 / 1);
    --heart-main-body-color:rgb(255 0 0);
	}
}

@media (prefers-color-scheme: dark) {

	:root {
        --bg-color: #000;
    --main-color: #00CC14;
    --font-weight:465;
    --title-font-weight: 785;
    --liner-gradient-from-color:#007f0c;
    --liner-gradient-to-color:#004306;
    --repeat-gradient-to-color:rgb(0 0 0);
    --theme-background-image:  repeating-linear-gradient(to top,rgb(211 211 211 / 0) 0, 
    rgb(0 0 0) 1px,
    rgb(0 0 0) 2px,
    rgb(211 211 211 / 0) 3px,
    rgb(211 211 211 / 0) 4px),  
    repeating-linear-gradient(to right, rgb(211 211 211 / 0) 0,
    rgb(0 0 0) 1px,
    rgb(0 0 0) 2px,
    rgb(211 211 211 / 0) 3px,
    rgb(211 211 211 / 0) 4px), 
    linear-gradient(#007f0c, #004306);
    --btn-txt-color:#00CC14;
    --heart-contour-color:rgb(0 204 20 / 1);
    --heart-sparks-color:rgb(255 0 0 / 1);
    --heart-main-body-color:rgb(255 0 0);
	}
}




